<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="org.svenk.redmine.core.RedmineRepositoryConnector"
            id="redmine"
            name="RedmineRepositoryConnector">
      </connectorCore>
      <connectorUi
            brandingIcon="icons/eview16/redmine-icon.png"
            class="org.svenk.redmine.ui.RedmineConnectorUi"
            overlayIcon="icons/eview16/redmine-overlay-icon.png">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="org.svenk.redmine.ui.editor.RedmineTaskEditorPageFactory"
            id="org.svenk.redmine.ui.pageFactory">
      </pageFactory>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.taskEditorExtensions">
      <repositoryAssociation
            connectorKind="redmine"
            taskEditorExtension="org.eclipse.mylyn.wikitext.tasks.ui.editor.textileTaskEditorExtension">
      </repositoryAssociation>
   </extension>
   <extension
         point="org.eclipse.mylyn.commons.core.errorReporters">
      <errorReporter
            class="org.svenk.redmine.ui.RedmineErrorReporter"
            id="org.svenk.redmine.ui.errorReporter"
            label="RedmineErrorReporter">
      </errorReporter>
   </extension>

</plugin>
